body {
  font-size: 18px;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  background: url('https://wx1.sinaimg.cn/large/006fVPCvly1fk7h2yuax1j31hc0u0wvh.jpg') no-repeat center center fixed;
  background-size: cover;
}
#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.page {
  flex: 1 0 auto;
}
a {
  color: #3b8bba;
  text-decoration: none;
}
a:visited {
  color: #265778;
}
header {
  padding: .5em 0;
  background-color: rgba(46, 62, 73, .8);
}
#logo {
  color: #eee;
  font-size: 1.2em;
  padding-right: 1em;
}
#limit {
  width: 3em;
}
.form {
  text-align: center;
}
.form>label {
  color: #eee;
  padding-left: 1em;
}
.form>button {
  margin-left: 1em;
}
.table {
  margin: 1em auto;
  background-color: rgba(255, 255, 255, .9);
  color: #333;
}
.download-button {
  text-align: center;
  margin: 1em 0;
}
.center {
  text-align: center;
}
.center>img {
  height: 1em;
}
.footer {
  width: 100%;
  text-align: center;
  color: #eee;
  padding: .5rem 0;
  background-color: rgba(46, 62, 73, .8);
}
footer a {
  color: #eee;
  padding-left: 1.5em;
}
footer a:visited {
  color: #eee;
}