body {
  font-size: 14px;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  background: url('https://wx1.sinaimg.cn/large/006fVPCvly1fk7h2yuax1j31hc0u0wvh.jpg') no-repeat center center fixed;
  background-size: cover;
}
#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.page {
  flex: 1 0 auto;
}
a {
  color: #3b8bba;
  text-decoration: none;
}
a:visited {
  color: #265778;
}
.header {
  width: 100%;
  text-align: center;
  margin: 4rem 0;
  font-size: 3em;
  color: #eee;
  text-shadow: 5px 5px 2px #333;
}
.form-wrapper {
  margin: 0 1em;
}
.form {
  max-width: 30em;
  padding: 1em 0;
  margin: 2em auto;
  background-color: rgba(46, 62, 73, .8);
  border-radius: 5px;
}
.form label {
  color: #eee;
  text-transform: capitalize;
}
.form input {
  margin: 0 auto;
}
#logo {
  font-size: 1.2em;
}
#limit {
  width: 3em;
}
.table-wrapper {
  overflow-x: auto;
  margin: 0 1em;
}
.table {
  max-width: 100%;
  margin: 1em auto;
  background-color: rgba(255, 255, 255, .9);
  color: #333;
}
.title {
  min-width: 20em;
}
.download-button {
  text-align: center;
  margin: 1em 0 2em 0;
}
.center {
  text-align: center;
}
.center>img {
  height: 1em;
}
footer {
  width: 100%;
  text-align: center;
  color: #eee;
  background-color: rgba(46, 62, 73, .8);
}
.footer {
  max-width: 50em;
  line-height: 2rem;
  margin: auto auto;
}
footer a {
  color: #eee;
  padding-left: 1.5em;
}
footer a:visited {
  color: #eee;
}
@media screen and (max-width: 480px) {
  #select,
  #query {
    margin: 0 auto;
    display: block;
  }
  .form label {
    padding-left: 1em;
  }
}
@media screen and (max-width: 568px) {
  body {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}